/*
Copyright 2013 Josh Kuhn

This file is part of Cyclence.

Cyclence is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option)
any later version.

Cyclence is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License
along with Cyclence.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-image: url('../img/pixelated_blue.png');
    margin: 10px;
}
footer {
    padding: 5px;
    font-size: 9px;
    text-align: center;
    color: white;
}

footer a:link {
    color: #ccf;
    text-decoration: underline;
}
footer a:visited {
    color: #ccf;
}

#main {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px black;
    border-radius: 3px;
}
#loginname {
    color: white;
}

#banner-michael { 
    height: 120px;
}
.icon-off:hover {
    -webkit-filter: brightness(0%) hue-rotate(90deg);
}

.gravatar {
    border: 2px solid white;
    border-radius: 2px;
}

.topper {
    margin-top:19px;
    margin-bottom: -19px;
}
.table th {
    font-weight: bold;
    color: black;
    background-color: transparent;
}
.table {
    background-color: transparent;
    color: black;
}

.indicator {
    height: 25px;
    width: 7px;
    border-radius: 4px;
}

.edit-box {
    -webkit-transition: all 0.3s;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    background-color: #aaa;
}

form.form-inline {
    margin: 0;
    padding:0;
}
form.buttonform {
    display:inline;
}
form.deleteform {
    float:right;
    display:inline;
}
form.share-form {
    display: inline;
    float: left;
}

ul.notification-list,
ul.friend-list {
    list-style-type: none;
    margin: 0;
}

ul.notification-list li {
    margin-bottom: 3px;
    width: 50%;
}

.modal-header h3 {
    padding: 3px;
    border-radius: 3px;
}