{% extends 'master.html' %}
{% block contents %}
<div class="row-fluid">
  <div class="span3">
    <img id="banner-michael"
         src="{{ static_url('img/Cyclence_Banner.png') }}" alt="Cyclence">
  </div>
  <div class="span3 offset6 topper">
    <img class="gravatar" src="{{ user.gravatar_url }}?s=30&d=retro">
    <span id="loginname">{{ user.email }}</span> 
    <a href="/logout" title="Log Out">
      <i class="icon-off icon-white"></i></a>
  </div>
</div>
<div id="main" class="row-fluid">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li {% if not tab %}class="active" {% end %}><a href="#tasklist" data-toggle="tab">
            <i class="icon-tasks"></i> Tasks
        </a></li>
        <li><a href="#newtask" data-toggle="tab">
            <i class="icon-pencil"></i> New Task 
        </a></li>
        <li><a href="#friendlist" data-toggle="tab">
            <i class="icon-user"></i> Friends
        </a></li>
        <li {% if tab == 'notifications' %} class="active" {% end %} >
          <a href="#notifications" data-toggle="tab">
            <i class="icon-flag"></i> Notifications
        </a></li>
      </ul>
    </div>
  </div>
  <div class="fluid-span9 tab-content">
    <div {% if not tab %}
         class="tab-pane row-fluid active"
         {% else %}
         class="tab-pane row-fluid"
         {% end %}
         id="tasklist">
      {% include "tasklist.html" %}
    </div>
    <div class="tab-pane row-fluid" id="newtask">
      {% include "newtask.html" %}
    </div>
    <div class="tab-pane row-fluid" id="friendlist">
      {% include "friendlist.html" %}
    </div>
    <div {% if tab == 'notifications' %}
         class="tab-pane row-fluid active"
         {% else %}
         class="tab-pane row-fluid"
         {% end %}
         id="notifications">
      {% include "notifications.html" %}
    </div>
  </div>
</div>
{% end %}
