{% from cyclence import utils %}
{% from datetime import date %}
{% set today = date.today() %}
{% set user = current_user %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Cyclence{% end %}</title>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ static_url('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" 
          type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ static_url('css/cyclence.css') }}" 
          type="text/css" media="screen" />
  </head>
  <body>
    <div class="container-fluid">
      {% block contents %}
      <!-- This page is just a wrapper. It shouldn't be served by itself -->
      {% end %}
    </div>
    <script src="{{ static_url('js/underscore-min.js') }}"></script>
    <script src="{{ static_url('js/backbone.js') }}"></script>
    <script src="{{ static_url('js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ static_url('js/handlebars-1.0.rc.1.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-modal.js') }}"></script>
  </body>
</html>
