{#
Copyright 2013 Josh Kuhn

This file is part of Cyclence.

Cyclence is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option)
any later version.

Cyclence is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License
along with Cyclence.  If not, see <http://www.gnu.org/licenses/>.
#}

{% from cyclence import utils %}
{% from datetime import date, datetime, timedelta %}
{% set today = date.today() %}
{% set user = current_user %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Cyclence{% end %}</title>
    <meta http-equiv="refresh"
          content="{{ ((datetime(*today.timetuple()[:3]) + timedelta(1)) -
                        datetime.today()).seconds}}">
    </meta>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ static_url('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ static_url('css/cyclence.css') }}"
          type="text/css" media="screen" />
    <style>
      body {
        background-image: url({{static_url(
                     utils.random_img('static/backgrounds', 'backgrounds'))}});
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% block contents %}
      <!-- This page is just a wrapper. It shouldn't be served by itself -->
      {% end %}
    </div>
    <footer>
      Cyclence is free software.</br>
      Source code, license and issue tracker @
      <a href="https://github.com/deontologician/Cyclence">github</a>
    </footer>
    <script src="{{ static_url('js/underscore-min.js') }}"></script>
    <script src="{{ static_url('js/backbone.js') }}"></script>
    <script src="{{ static_url('js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ static_url('js/handlebars-1.0.rc.1.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-modal.js') }}"></script>
  </body>
</html>
