{#
Copyright 2013 Josh Kuhn

This file is part of Cyclence.

Cyclence is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option)
any later version.

Cyclence is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License
along with Cyclence.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'main_page.html' %}
{% block newtask-active %}active{% end %}
{% block main-page-content %}
<form method="POST" action="/tasks" class="form-horizontal span4">
  <legend>Create a new Task</legend>
  <div class="control-group">
    <label class="control-label">Task Name</label>
    <div class="controls">
      <input type="text" name="taskname" 
             placeholder="Walk the dog, mow the lawn, etc...">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Recurs every</label>
    <div class="controls">
      <input type="text" class="input-small" name="length"> days
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">First due</label>
    <div class="controls">
      <input type="text" name="firstdue" value="{{ today.strftime('%Y-%m-%d') }}"
             class="input-small">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"> Allow early completion</label>
    <div class="controls">
      <input type="checkbox" name="allowearly" checked="checked">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Points</label>
    <div class="controls">
      <input type="text" value="100" name="points">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Tags</label>
    <div class="controls">
      <input type="text" name="tags" placeholder="some, comma, separated, tags">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Notes</label>
    <div class="controls">
      <textarea width="80" name="notes"></textarea>
    </div>
  </div>
  <div class="controls">
    <button type="submit" class="btn btn-primary">Create Task</button>
  </div>
</form>
{% end %}
