{#
Copyright 2013 Josh Kuhn

This file is part of Cyclence.

Cyclence is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option)
any later version.

Cyclence is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License
along with Cyclence.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'main_page.html' %}
{% block tasklist-active %}active{% end %}
{% block main-page-content %}
{% from cyclence.utils import hue_string %}
<table class="table fluid-span9">
  <tr>
    <th></th>
    <th>Task</th>
    <th>Recurs every</th>
    <th>Due</th>
    <th>Last Completed</th>
    <th>Points</th>
    <th></th>
  </tr>
  <tr><th colspan=7>Currently Due</th></tr>
  {% set tasks = sorted(user.tasks, key=lambda t: t.sort_value,
                                    reverse=True) %}
  {% for task in [t for t in tasks if t.dueity != 'not due']%}
    {% include 'task.html' %}
  {% end %}
  <tr><th colspan=7>Due Soon</th></tr>
  {% for task in [t for t in tasks
                    if t.dueity == 'not due'
                       and t.allow_early
                       and t.point_worth() > 0] %}
    {% include 'task.html' %}
  {% end %}
  <tr><th colspan=7>Not Due</th></tr>
  {% for task in [t for t in tasks
                    if t.dueity == 'not due'
                       and (t.point_worth() == 0
                            or not t.allow_early)] %}
    {% include 'task.html' %}
  {% end %}
</table>
{% end %}
