{#
Copyright 2013 Josh Kuhn

This file is part of Cyclence.

Cyclence is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option)
any later version.

Cyclence is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
more details.

You should have received a copy of the GNU Affero General Public License
along with Cyclence.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'main_page.html' %}
{% block tasklist-active %}active{% end %}
{% block main-page-content %}
{% from cyclence.utils import hue_string %}
<table class="table fluid-span9">
  <tr>
    <th></th>
    <th>Task</th>
    <th>Recurs every</th>
    <th>Due</th>
    <th>Last Completed</th>
    <th>Points</th>
    <th></th>
  </tr>
  {% for task in sorted(user.tasks, key=lambda t: t.sort_value, reverse=True) %}
  <tr class="taskrow">
    <td>
      <div style="background-color: {{ hue_string(task) }};"
           class="indicator"></div>
    </td>
    <td>{{ task.name }}</td>
    <td>{{ utils.time_str(task.length) }} </td>
    <td><span title="{{utils.date_str(task.duedate)}}">
        {{ utils.relative_time(task.duedate) }}</span></td>
    <td><span title="{{utils.date_str(task.last_completed)}}">
        {{ utils.relative_time(task.last_completed) }}</span></td>
    <td>{{ task.point_worth() }}</td>
    <td>
      <form action="/tasks/{{task.task_id}}/completions/{{today.isoformat()}}"
            method="POST" class="form-inline buttonform">
        <button type="submit"
                {% if task.dueity != 'not due' or task.allow_early %}
                class="btn btn-success btn-small"
                {% elif task.dueity == 'not due' and task.last_completed != today %}
                class="btn btn-inverse btn-small"
                title="This task isn't due yet!"
                {% elif task.last_completed == today %}
                disabled
                title="You already completed this today"
                class="btn btn-inverse btn-small"
                {% else %}
                title="I don't know how truth tables work"
                class="btn btn-danger btn-small"
                {% end %}
                >
          <i class="icon-ok icon-white"></i> Complete
        </button>
      </form>
      <!-- Button to trigger modal -->
      <a href="#modal-{{task.task_id}}" role="button" class="btn btn-small"
         data-toggle="modal"><i class="icon-plus-sign"></i></a>
      {% include 'task.html' %}
    </td>
    <td>
    </td>
  </tr>
  {% end %}
</table>
{% end %}
